<header class="header">
  <div class="left-side">
    <img class="logo" src="./assets/image/logo.png" />
    <div class="nav">
      <nav class="nav-bar">
        <div><a href="">Home</a></div>
        <div><a href="">About</a></div>
        <div><a href="">Rooms</a></div>
        <div><a href="">Karinderya & Cafe</a></div>
        <div><a href="">Retreats</a></div>
        <div><a href="">Activities</a></div>
      </nav>
    </div>
    <div class="right-side">
      <div class="button"><a href="">Book Now</a></div>
    </div>
  </div>
</header>
