<section class="section-1">
  <div class="container">
    <div class="content-container">
      <div class="content">
        <div>
          <img src="./assets/image/Logo vector.png" alt="" />
        </div>
        <h1>
          <span class="title">Welcome To</span
          ><span class="highlight-title">Coast</span>
        </h1>
      </div>
      <div>test</div>
      <div>Test2 other branch</div>
      <div>Test3 other branch</div>
      <div>Test4 other branch</div>
      <div class="right-content">
        <div class="slide-image">
          <div class="imga"><img src="./assets/image/Rectangle 132.png" /></div>
          <div class="imga"><img src="./assets/image/Rectangle 12.png" /></div>
          <div class="imga"><img src="./assets/image/Rectangle 38.png" /></div>
          <div class="imga"><img src="./assets/image/Rectangle 39.png" /></div>
        </div>
        <div class="button">
          <div class="svg">
            <div>
              <svg
                width="15"
                height="21"
                viewBox="0 0 15 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M14 2L3 11L14 19" stroke="#FAD6AC" stroke-width="3" />
              </svg>
            </div>
            <div>
              <svg
                width="15"
                height="21"
                viewBox="0 0 15 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 2L12 11L1 19"
                  stroke="$secondary-color"
                  stroke-width="3"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg"></div>
  </div>
</section>
