<section class="section-2">
  <div class="container-1">
    <article class="content-comment">
      <span class="title">About us</span>
      <span class="title-details">WHAT IS VedyA?</span>
      <p class="details">
        VedyA is a Moroccan inspired boutique hostel located in a tiny village
        about a 5 minute scooter ride away from the beach. We offer private and
        dorm style accommodation, a vegan restaurant, surf instruction, and yoga
        and ayurveda retreats.
      </p>
    </article>
    <div class="content-imge">
      <img src=".assets/image/Rectangle 9.png" alt="" />
    </div>
  </div>
  <div class="container-2">
    <div class="details-container-2">
      <p>
        Vedya is a celebration of balance, healthy living and local
        partnerships. It is a moroccan inspired boutique hostel with a vegan
        restaurant that offers surf instruction, tours around the island, and
        yoga & ayurveda retreats
      </p>
    </div>
    <div class="imge"><img src="./assets/image/Group 4.png" /></div>
  </div>
  <div class="container-3">
    <div class="imge"><img src="./assets/image/map.png" alt="" /></div>
    <article class="content-discription">
      <div class="location-details">WHERE IS IT LOCATED?</div>
      <div class="location-discription">
        <p>
          Sta.Ines St. Brgy Catangnan, General Luna Located on the back road in
          Pangpang Area. A short scooter ride away from the beach.
        </p>
      </div>
    </article>
  </div>
</section>
