<section class="section-5">
  <div class="container">
    <div class="row-1">
      <img src="./assets/image/Rectangle 33.png" />
      <div class="details-row-1">
        <div class="title">Rooms</div>
        <div class="link"><a href="">View More</a></div>
      </div>
    </div>
    <div class="row-2">
      <div class="details-row-2">
        <div class="title">Living Room</div>
        <div class="link"><a href="">View More</a></div>
      </div>
      <img src="./assets/image/Rectangle 35.png" />
    </div>
    <div class="row-3">
      <img src="./assets/image/Rectangle 37.png" />
      <div class="details-row-3">
        <div class="title">Rooftop deck yoga</div>
        <div class="link"><a href="">View More</a></div>
      </div>
    </div>
  </div>
</section>
