<section class="section-4">
  <div class="container">
    <div class="top-row">
      <div class="top-col-1">
        <img src="./assets/image/Rectangle 19.png" />
        <span>Accomodation</span>
      </div>
      <div class="top-col-2">
        <img src="./assets/image/Rectangle 20.png" alt="" />
        <span>Surf Camp</span>
      </div>
      <div class="top-col-3">
        <img src="./assets/image/Rectangle 22.png" alt="" />
        <span>Tours</span>
      </div>
    </div>
    <div class="bot-row">
      <div class="bot-col-1">
        <img src="./assets/image/Rectangle 30.png" alt="" />
        <span>Ayurveda Retreat</span>
      </div>
      <div class="bot-col-2">
        <img src="./assets/image/Rectangle 31.png" alt="" />
        <span>Book Now</span>
      </div>
      <div class="bot-col-3">
        <img src="./assets/image/Rectangle 32.png" alt="" />
        <span>Cafe & Karinderya</span>
      </div>
    </div>
  </div>
</section>
